{% extends 'base.html' %} {% load static %} {% block content %}
<div class="col-sm-12 text-center about-banner">
    <h1 class="about-banner-text">About Us</h1>
</div>

<div class="row">
    <div class="col-sm-12 ">
        <p class="about-welcome-title"><b>Welcome</b> To Moderna Motors</p>
        <p class="about-welcome-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl nisl, varius in vulputate ac, dignissim a diam. Pellentesque a placerat orci. Praesent interdum lectus in eros placerat, sed luctus velit congue. Sed sapien arcu, posuere at tellus in, viverra lacinia lectus. Aliquam nec facilisis risus. Ut eget malesuada ipsum. Suspendisse auctor lacus eget arcu consectetur facilisis. Nunc eget risus nibh. Nulla facilisi. Suspendisse eu massa massa. Morbi auctor lacus malesuada mauris mattis sollicitudin. Pellentesque ut odio et erat condimentum convallis.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">Who We Are</div>
    <div class="col-sm-3">What We Do</div>
    <div class="col-sm-3">Our Mission</div>
    <div class="col-sm-3">Where We Are</div>
</div>

{% endblock %}
