{% extends 'base.html' %} {% load static %} {% block content %}
<div class="col-sm-12 text-center about-banner">
    <h1 class="banner-text">About Us</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="about-welcome-title"><b>Welcome</b> To Moderna Motors</p>
            <p class="about-welcome-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisl nisl, varius in vulputate ac, dignissim a diam. Pellentesque a placerat orci. Praesent interdum lectus in eros placerat, sed luctus velit congue. Sed sapien arcu, posuere at tellus in, viverra lacinia lectus. Aliquam nec facilisis risus. Ut eget malesuada ipsum. Suspendisse auctor lacus eget arcu consectetur facilisis. Nunc eget risus nibh. Nulla facilisi. Suspendisse eu massa massa. Morbi auctor lacus malesuada mauris mattis sollicitudin. Pellentesque ut odio et erat condimentum convallis.
            </p>
        </div>
    </div>

    <!-- Meet The Team -->
    <div class="row meet-the-team">
        <div class="col-sm-12 text-center">
            <h2><b>Meet</b> The Team</h2>
        </div>
    </div>

    <div class="row directors-div">
        <div class="col-sm-12 text-center">
            <img class="directors-image" src="{% static 'images/directors.jpeg' %}" alt="">
            <h4>Derek and Susanne O'Neil</h4>
            <p>Directors of Moderna Motors</p>
            <p> Founded in 2011 by Derek and Susanne O'Neil, Moderna Motors has built a reputation for premium quality, unbeatable value, award winning service and market leading Aftercare &trade;. Having amassed over 3 decades both come from families deeply rooted in the motor industry, they believed that premium service did not always have to cost a premium itself.  </p>
        </div>
    </div>

    <div class="row team-grid">
        <div class="col-lg-2 col-md-6 col-sm-6">
            <img class="employee-image" src="{% static 'images/headshot4.png' %}" alt="image of the dealer principal">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 employee-blurb">
            <h4>Michael Murray</h4>
            <p>Head of Customer Service</p>
            <p>Upon your arrival, you will be met by Michael or one of our Customer Service Executives. Whether you are just looking to browse, find a good fit or jump into a conversation with a particular Sales Executive, Michael and his team will be happy to help in any way they can.</p>
        </div>
     

        <div class="col-lg-2 col-md-6 col-sm-6">
            <img class="employee-image" src="{% static 'images/headshot1.jpg' %}" alt="image of the dealer principal">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 employee-blurb">
            <h4>Collette Ryan</h4>
            <p>Head of Sales</p>
            <p>Collette joined Moderna Motors in 2016 as an already well established sales executive within the industry. Her knowledge coupled with the ability to truely understand what a client needs and be able to deliver is a prime example of the service Moderna Motors provides on a daily basis. </p>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6">
            <img class="employee-image" src="{% static 'images/headshot2.png' %}" alt="image of the dealer principal">
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6 employee-blurb">
            <h4>Jordan Fox</h4>
            <p>Head of Aftercare</p>
            <p>With over a decade of experience in Aftercare coming from main dealerships, we are proud to have Jordan lead the way in ensuring customer satisfaction post-sale. At Moderna Motors, we believe that Aftercare should never be an Afterthought and encourage all clients to reach out to Jordan with any queries regarding our inventory.</p>
        </div>

        <div class="col-lg-2 col-md-6 col-sm-6">
            <img class="employee-image" src="{% static 'images/headshot7.jpeg' %}" alt="image of the dealer principal">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 employee-blurb">
            <h4>Simon Barry</h4>
            <p>Head of Finance</p>
            <p>With a passion for motors and background in the finance sector, we at Moderna Motors believed that Simon would a great fit for both us and our clients. Since joining us, we have been inundated by the positive feedback of clients driving away in what they thought was never possible. Reach out to Simon today!</p>
        </div>

        
        
    </div>
    <!-- /Meet The Team -->

    
</div>
{% endblock %}
