{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% block content %}

<h1 class="blue-text">Welcome to our Home Page.</h1>

<form action="search" method="POST">
  {% csrf_token %}

  <label for="carmake">Make:</label>
  <select name="carmake" class="carmake" id="carmake">
    <option value="">Any</option>
    {% for carmake in carmakes %}
    <option value="{{carmake.name}}">{{carmake.name}}</option>
    {% endfor %}
  </select>

  <label for="carmodel">Model:</label>
  <select name="carmodel" id="carmodel">
    Make:
    <option value="">Any</option>
  </select>

  <label for="caryear">Year:</label>
  <select name="caryear" id="caryear">
    Year:
    <option value="">Any</option>
  </select>

  <label for="price_min">Year:</label>
  <select name="price_min" id="price_min">
    Min:
    <option value="0">€0</option>
    <option value="500">€500</option>
    <option value="1000">€1000</option>
    <option value="1500">€1500</option>
    <option value="2000">€2000</option>
    <option value="3000">€3000</option>
    <option value="5000">€5000</option>
    <option value="7000">€7000</option>
    <option value="10000">€10,000</option>
    <option value="15000">€15,000</option>
    <option value="20000">€20,000</option>
    <option value="25000">€25,000</option>
    <option value="30000">€30,000</option>
    <option value="40000">€40,000</option>
    <option value="50000">€50,000+</option>
  </select>

  <label for="price_max">Year:</label>
  <select name="price_max" id="price_max">
    Max:
    <option value="0">€0</option>
    <option value="500">€500</option>
    <option value="1000">€1000</option>
    <option value="1500">€1500</option>
    <option value="2000">€2000</option>
    <option value="3000">€3000</option>
    <option value="5000">€5000</option>
    <option value="7000">€7000</option>
    <option value="10000">€10,000</option>
    <option value="15000">€15,000</option>
    <option value="20000">€20,000</option>
    <option value="25000">€25,000</option>
    <option value="30000">€30,000</option>
    <option value="40000">€40,000</option>
    <option value="50000">€50,000+</option>
  </select>

  <button type="submit" class="btn btn-info">Search</button>
</form>

{% endblock %}
