{% load static %}

<!-- Top Bar -->
<div>
  <div class="col-sm-2"><a href="/"><img class="topbar-img" src="{% static 'images/logo.png' %}"></a></div>
</div>
<!-- /Top Bar -->

<!-- Nav Bar -->
<nav class="navbar navbar-expand-md navbar-styling  ">
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navtarget" aria-controls="navtarget" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navtarget">
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'carmodels' %}">Used Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'car_sourcing' %}">Car Sourcing</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="{% url 'blog' %}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact_form' %}">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<!-- /Nav Bar -->           
   