{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}
{% block content %}

<h1>This is the add vehicle page</h1>

<div class="container">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
    {% for field in form %}
        <div class="col-md-6 col-sm-12">
            {{ field|as_crispy_field }}
        </div>
    {% endfor %}
    </div>             
    <input class="btn" type="submit" value="Submit" />
</form>
</div>
{% endblock content %}