{% extends 'base.html' %} 



{% block content %}

{% for carmodel in carmodels %}
<div class="row mb-2">
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{ carmodel.make  }}</h3>
              <div class="mb-1 text-muted"> {{ carmodel.name }}</div>
              <p class="card-text mb-auto"> {{ carmodel.year }} </p>
            </div>
          </div>
        </div>  
        <a href="{% url 't_vehicle' carmodel.id %}" class="btn btn-default">View more</a></div>
</div>
{% endfor %}
    

{% endblock %}