{% extends 'base.html' %} 
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}

<div class="container">
  <div class="row no-gutters top-row">
    <div class="col-sm-6">
      <h2> {{ carmodel.year }} {{ carmodel.make }} {{ carmodel.model }}</h2>
    </div>
    <div class="col-sm-6 text-right">
      <h2>€{{ carmodel.price|intcomma }}</h2>
    </div>
    <div class="col-sm-12">
      <p>{{ carmodel.title }}</p>
    </div>
  </div>
  

  <div class="row">
    <div class="col-md-8">
      <div class="slider slider-for">
        {% for i in carImages %}
          <img src="{{i.image.url}}" class="slider-img">
        {% endfor %}
      </div>
      
      <div class="slider slider-nav">
        {% for i in carImages %}
          <div><img src="{{i.image.url}}" class="slider-thumbnail"></div>
        {% endfor %}
      </div>
    </div>


    <div class="col-md-3">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th><b>Make:</b></th>
            <td>{{ carmodel.make }}</td>
          </tr>
          <tr>
            <th><b>Model:</b></th>
            <td>{{ carmodel.model }}</td>
          </tr>
          <tr>
            <th><b>Year:</b></th>
            <td>{{ carmodel.year }}</td>
          </tr>
          <tr>
            <th><b>Condition:</b></th>
            <td>{{ carmodel.condition }}</td>
          </tr>
          <tr>
            <th><b>Colour:</b></th>
            <td>{{ carmodel.color }}</td>
          </tr>
          <tr>
            <th><b>Mileage:</b></th>
            <td class="td-mileage">{{ carmodel.kilometers|intcomma }} kms, {{ carmodel.kilometers|div:1.6|intcomma }} miles </td>
          </tr>
          <tr>
            <th><b>Fuel:</b></th>
            <td>{{ carmodel.fuel }}</td>
          </tr>
          <tr>
            <th><b>Engine Size:</b></th>
            <td>{{ carmodel.engine_size }}L</td>
          </tr>

          <tr>
            <th><b>Body Type:</b></th>
            <td>{{ carmodel.body_type }}</td>
          </tr>
          <tr>
            <th><b>Owners:</b></th>
            <td>{{ carmodel.owners }}</td>
          </tr>
          <tr>
            <th><b>Transmission:</b></th>
            <td>{{ carmodel.transmission }}</td>
          </tr>
          <tr>
            <th><b>NCT Due Date:</b></th>
            <td>{{ carmodel.nct_due_date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      <h3>Description:</h3>
      <p>{{ carmodel.description }}</p>
    </div>
  </div>

</div>



{% endblock %}