{% extends 'base.html' %} {% load static %} {% load humanize %} {% block content %}

<div class="col-sm-12 text-center vehicles-banner">
    <h1 class="banner-text">Our Listings</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <a href="/contact/car_sourcing"><div class="car-sourcing-div">
                <p class="car-sourcing-text">Car Sourcing Available</p>
            </div></a>
            <div class="search-div">
                <p class="search-title">Find Your Dream Car</p>
                <form action="{% url 'carmodels' %}" method="POST">
                {% csrf_token %}
            
                <div class="form-group">
                    <select class="vehicles-search-fields form-control carmake" name="carmake" id="carmake">
                        <option value="">Any Make</option>
                        {% for carmake in carmakes %}
                            <option value="{{carmake.name}}">{{carmake.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="vehicles-search-fields form-control" name="carmodel" id="carmodel">
                        <option value="">Any Model</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="vehicles-search-fields form-control" name="caryear" id="caryear">
                        <option value="">Any Year</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="vehicles-search-fields form-control" name="price_min" id="price_min">
                        <option value="">Select Min Price</option>
                        <option value="0">€0</option>
                        <option value="500">€500</option>
                        <option value="1000">€1000</option>
                        <option value="1500">€1500</option>
                        <option value="2000">€2000</option>
                        <option value="3000">€3000</option>
                        <option value="5000">€5000</option>
                        <option value="7000">€7000</option>
                        <option value="10000">€10,000</option>
                        <option value="15000">€15,000</option>
                        <option value="20000">€20,000</option>
                        <option value="25000">€25,000</option>
                        <option value="30000">€30,000</option>
                        <option value="40000">€40,000</option>
                        <option value="50000">€50,000</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <select class="vehicles-search-fields form-control" name="price_max" id="price_max">
                    <option value="">Select Max Price</option>
                    <option value="0">€0</option>
                    <option value="500">€500</option>
                    <option value="1000">€1000</option>
                    <option value="1500">€1500</option>
                    <option value="2000">€2000</option>
                    <option value="3000">€3000</option>
                    <option value="5000">€5000</option>
                    <option value="7000">€7000</option>
                    <option value="10000">€10,000</option>
                    <option value="15000">€15,000</option>
                    <option value="20000">€20,000</option>
                    <option value="25000">€25,000</option>
                    <option value="30000">€30,000</option>
                    <option value="40000">€40,000</option>
                    <option value="50000">€50,000</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <select class="vehicles-search-fields form-control" name="fuel" id="fuel">
                    <option value="">Select Fuel</option>
                    <option value="Petrol">Petrol</option>
                    <option value="Diesel">Diesel</option>
                    <option value="Electric">Electric</option>
                    <option value="Hybrid">Hybrid</option>
                    </select>
                </div>
            
                <div class="form-group">
                    <select class="vehicles-search-fields form-control" name="transmission" id="transmission">
                        <option value="">Select Transmission</option>
                        <option value="Automatic">Automatic</option>
                        <option value="Semi-auto">Semi-auto</option>
                        <option value="Manual">Manual</option>
                        <option value="Electric">Electric</option>
                        <option value="Hybrid">Hybrid</option>
                    </select>
                </div>
            
                <div class="form-group search">
                    <button type="submit" class="btn btn-block search-btn"><i class="fa fa-search" aria-hidden="true"></i> Search </button>
                </div>
                
                </form>
            </div>
            <div class="vehicles-opening-div">
                <p class="vehicles-opening-text">Opening Hours<br /> Mon-Fri : 09:00 - 19:00,<br /> Sat : 09:00 - 15:00,<br /> Sun : Closed, <br />Viewing after hours by appointment</p> 
            </div> 
        </div>
        
    
        <div class="col-md-9 col-sm-12">
    {% if carmodels %}
        {% for carmodel in carmodels %}
            <div class="row no-gutters vehicle-card">
                <div class="col-sm-6">
                    <h3>{{ carmodel.year }} {{ carmodel.make }} {{ carmodel.model }}</h3>
                    <h5>{{ carmodel.title }}</h5>
                </div>
                <div class="col-sm-6 text-right">
                    <p>€{{ carmodel.price|intcomma }}</p>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <img class="vehicle-card-img"src="{{ carmodel.photo_main.url }}" />
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 vehicle-card-details">
                    <ul class="vehicle-features-group">
                        <li><i class="fa fa-car"></i> Body:  {{ carmodel.body_type }} </li>
                        <li><i class="fa fa-road"></i>Mil:  {{ carmodel.kilometers|intcomma }} Kms</li>
                        <li><i class="fa fa-tachometer"></i>Engine:  {{ carmodel.engine_size }}L</li>
                        <li><i class="fa fa-calendar"></i>Year:  {{ carmodel.year }}</li>
                        <li><i class="fa fa-tint"></i>Color:  {{ carmodel.color }}</li>
                    </ul>
                    <ul class="vehicle-features-group">
                        <li><i class="fa fa-cogs"></i>Trans:  {{ carmodel.transmission }}</li>
                        <li><i class="fa fa-car"></i>Fuel:  {{ carmodel.fuel }}</li>
                        <li><i class="fa fa-users"></i> Owners:  {{ carmodel.owners }}</li>
                        <li><i class="fa fa-clipboard"></i> NCT Due:  {{ carmodel.nct_due_Date }}</li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <p class="vehicle-card-desc">{{ carmodel.description|truncatewords:20 }}</p>
                </div>
                <a href="{% url 'carmodel' carmodel.id %}" class="btn btn-default">View more</a>
            </div>
        
        {% endfor %}
        
    {% else %}
        <p>There are currently no vehicles available in our online listings. Please check back soon!</p>
    {% endif %}  
        </div>
    </div>


    {% if carmodels.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if carmodels.has_previous %}
            <li class="page-item">
            <a href="?page={{carmodels.previous_page_number}}" class="page-link">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %} 
            

            {% for i in carmodels.paginator.page_range %} 
                {% if carmodels.number == i %}
                    <li class="page-item active">
                        <a class="page-link"> {{i}} </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if carmodels.has_next %}
            <li class="page-item">
            <a href="?page={{carmodels.next_page_number}}" class="page-link">
                Next</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            {% endif %} 
        </ul>
    </nav>
    {% endif %} 
</div>
{% endblock %}