@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1, h2, h3, h4, h5, p, a, button, i {
    font-family:Roboto;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

.logo-div {
    width: 50%;
    text-align: center;
    padding-top:20px;
    
}

.logo-div img {
    width: 200px;
    
}

.contact-cols {
    font-weight: bold;
    text-align: center;
    padding:20px 5px 20px 5px;
}

.email-link {
    color:black;
}
.navbar-styling {
    background-color:black;
}

.navbar-styling a {
    color:white;
}

.carousel {
    width:100%;
}
.search-form {
    background-color:red;
    top:80%;
    left:25%;
    width: 50%;
}

.row > .form-group {
    padding-top:5px;
}

.search-btn {
    color:white;
    background-color: black;
}


.welcome-blurb {
    text-align: center;
    margin: auto;
    width: 65%;
}


.about-us img {
    width: 100%;
    height:100%;
    object-fit: cover;
    
}

.feature-blurb {
    text-align: center;
    margin: auto;
    width: 65%;
}

.embedded-map {
    width:100%;
    height:100%
}

.subscribe-btn {
    color:white;
    background-color: red;
}


/* MEDIA QUERIES */
@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    } 
}


@media (max-width: 768px){
    .contact-cols {
        display:none;
    } 
}