@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1, h2, h3, h4, h5, p, a, button, i {
    font-family:Roboto;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

/* Index Page */
.logo-div {
    width: 50%;
    text-align: center;
    padding-top:20px;
}

.logo-div img {
    width: 200px;
}

.contact-cols {
    font-weight: bold;
    text-align: center;
    padding:20px 0 20px 0;
}

.email-link {
    color:black;
}
.navbar-styling {
    background-color:black;
}

.navbar-styling a {
    color:white;
}

.carousel {
    width:100%;
}

.carousel .carousel-item {
    height: 500px;
}
  
.carousel-item img {
    position: absolute;
    object-fit:cover;
    object-position: center;
    top: 0;
    left: 0;
    min-height: 500px;
}

.search-form {
    background-color:#eeeeee;
    padding: 5vh 20vw 5vh 20vw;

}

.index-search-fields{
    background: #222;
    border-radius: 3px;
    color: #fff;
    border: #222 solid 1px;
    font-size: 16px;
}

.row > .form-group {
    padding-top:5px;
}

.search-btn {
    color:white;
    background-color: red;
}

.welcome-title{
    margin:10vh 0 10vh 0;
}
.text-blurb {
    text-align: center;
    padding-top:50px;
}

.featured-row {
    background-color: #eeeeee;
    padding: 10vh 0 10vh 0;
}

.featured-bg {
    background-color: #eeeeee;
}

.featured-img {
    height:260px;
}

.featured-card {
    margin: 20px;
    height:auto;
}

.card {
    border-bottom: 3px solid red;
}


.featured-card h5, p {
    color:black;
}

.featured-card :hover {
    box-shadow: 3px 3px 5px 6px #ccc;
}

.car-detail {
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
}

.info-row {
    margin:10vh 0 10vh 0;
}

.about-us img {
    width: 100%;
    height:100%;
    object-fit: cover;
    
}

.choose-us-title {
    padding-bottom:50px;
    margin-top:50px;
}

.choose-us-blurb {
    width:65%;
}

.choose-us-img {
    max-width: 100%;
    max-height: auto;
}

.services-row {
    padding-bottom:50px;
    background-color:#eeeeee;
}
.services-title {
    margin:50px 0 50px 0;
}

.service-card {
    margin:0 5px 0 5px;
    width:50px;
}

.feature-img {
    height:260px;
}

.sourcing-img {
    background-image: url("/static/images/sourcing.jpg");
    background-size:cover;
    width:100%;
    height:230px;
}

.reviews-img {
    background-image: url("/static/images/reviews.jpg");
    background-size:cover;
    width:100%;
    height:230px;
}

.inventory-img {
    background-image: url("/static/images/inventory.jpg");
    background-size:cover;
    width:100%;
    height:230px;
}

.contact-img {
    background-image: url("/static/images/contact.jpg");
    background-size:cover;
    width:100%;
    height:230px;
}

.find-us-title {
    padding: 5vh 0 5vh 0;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    min-height:300px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:70%;
    width:100%;
    position:absolute;
}

.subscribe-blurb {
    width:65%;
}

.subscribe-form {
    width:65%;
}

.subscribe-btn {
    color:white;
    background-color: red;
}

/* MEDIA QUERIES */
@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    } 
}


@media (max-width: 768px){
    .contact-cols {
        display:none;
    } 
}

/* End of Index Page */


/* About Page */

.about-banner  {
    background-image:linear-gradient(to bottom,black 0%,grey 100%),url("/static/images/landing-image.jpg");
    background-blend-mode:multiply;
    background-size:cover;
    width:100%;
    height:230px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

.about-welcome-title{
    text-align: center;
    margin: auto;
    width: 65%;
    padding-top:50px;
    font-size: 30px;
}

.about-welcome-text {
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top:50px;
    font-size: 1em;
}

.meet-the-team {
    padding-top:50px;
}

.directors-div{
    display:block;
    clear:both;
}

.directors-image {
    height: 80%;
    width: 80%;
}

.team-grid {
    padding-top:50px;
}

.employee-image {
    max-width: 100%;
    width:200px;
    height: auto;
    border-radius: 50%;;
}

.employee-blurb {
    padding-top:60px;
    width:50%;
}

@media (max-width: 574px){
    .team-grid {
        text-align:center;
    } 
    .employee-blurb {
        width:100%;
        text-align: center;
    }
}

/* End of About Page */

/* Used Vehicles */

.vehicles-banner  {
    background-image:linear-gradient(to bottom,black 0%,grey 100%),url("/static/images/landing-image3.jpg");
    background-blend-mode:multiply;
    background-size:cover;
    background-position:center;
    width:100%;
    height:230px;
    margin-bottom: 50px;
}

.search-div {
    border: 1px solid rgb(182, 182, 182);
    padding:0 5px 10px 5px;
}

.car-sourcing-div {
    background-color:#cc080c;
    margin-bottom:40px;
    text-align:center;
    min-height:60px;
}

.car-sourcing-text {
    text-align:center;
    color:white;
    padding:17px 0 17px 0;
    font-weight:bold;
    font-size:18px;
}

.search-title {
    text-align:center;
    color:black;
    padding:17px 0 10px 0;
    margin-bottom:20px;
    font-weight:bold;
    font-size:18px;
    border-bottom: 3px solid #eeeeee
}

.vehicles-search-fields {
    background: #eeeeee;
    border-radius: 3px;
    color: rgb(138, 138, 138);
    font-size: 16px;
}

.vehicles-opening-div {
    text-align:center;
    color:white;
    margin-top:17px;
    padding:17px 0 17px 0;
    height:80px;
    font-weight:bold;
    font-size:18px;
    background-image:linear-gradient(to bottom,black 0%,grey 100%),url("/static/images/landing-image2.jpg");
    background-blend-mode:multiply;
    background-size:cover;
    height: min-content;
}

.vehicles-opening-text {
    text-align:center;
    color:white;
    padding:17px 0 17px 0;
    height:80px;
    font-weight:bold;
    font-size:18px;
    background-image:linear-gradient(to bottom,black 0%,grey 100%),url("/static/images/landing-image2.jpg");
    background-blend-mode:multiply;
    background-size:cover;
    height: min-content;
}

.car-width {
    max-width:100%;
}

.x {
    max-width: 100%;
    height: auto;
}
.details-card {
    background-color:rgba(245, 245, 245, 0.897);
    margin-bottom: 25px;
    padding: 10px;
    max-height:280px;
    
}

.details-card:hover {
    box-shadow: 3px 3px 5px 6px #ccc;
}

.page-item.active .page-link  {
    background-color:rgb(255, 71, 71);
    border-color: #eeeeee
}

.page-link {
    color: rgb(138, 138, 138);
}
/* End of Used Vehicles */

/* Contact Form Page */

.contact-form-banner  {
    background-image:linear-gradient(to bottom,black 0%,grey 100%),url("/static/images/landing-image3.jpg");
    background-blend-mode:multiply;
    background-size:cover;
    background-position:center;
    width:100%;
    height:230px;
    margin-bottom: 50px;
}

.contact-page-map {
    overflow:hidden;
    padding-bottom:30px;
}

.contact-page-map iframe{
    left:0;
    top:0;
    width:100%;
    min-height:400px;
}

/* End of Contact Form Page */


/* Footer */

.bg-color{
    background-color:#253341;
    color:white;
}

.footer-font {
    color:white;
}
/* /Footer */